.playlist_content{
  width: auto;
  background-color: #33333360;
  height: 200px;
}

.main{
  width:60%;
  height: 200px;
  padding-left: 10px;
  background: rgba(166, 166, 166, 0.268);
  border-radius: 25px;
  float: center;
  display: block;
 margin: 0 auto;

}
.picture{
  width: 190px;
   height:190px;
   padding-left: 10px;
   /* padding-top: 10px; */
   padding-bottom: 10px;
}
.logo_anh_music{
  width:190px;
  height: 190px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
}
.name{
  padding-left: 200px;
  padding-top: 100px;
  width:500px;
  height: 20px;
  padding-left: 220px;
  font: size 42px;;

}

.icon{
  padding-top: 60px;
  width: 250px;
  height:30px;
  padding-left: 210px;
}

.icon img:hover { 
  background-color: #dee2e661;
   border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
}


.icon_mini{
width: 25px;
height: 25px;
transform: scale(1);
transition: all 0.5s;

}
.icon_mini:hover{
  width: 25px;
  height: 25px;
 opacity: 0.8;
 border-radius: 50%;
box-shadow: 0 0 0 20px rgba(255,255,255,.1);
}

#my-out-img img{ 
   filter: brightness(0) invert(1);
   -webkit-filter: brightness(0) invert(1);
   
}
.inside{
  width:60%;
  height: auto;
  padding-left: 10px;
  padding-top: 10px;
  background: #88888827;
  float: center;
  border-radius: 25px;
  margin-top: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;

}
table {
    width: 100%;        
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 16px;
    height: auto;
    overflow: value;
}
.out {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #d8d9da25;
}
.out:hover{
    background-color:#cfcdcd24;
}

 .list_music_icon{
    height: 50px;
    width:5%;
    text-align: center;
 }
 .list_music_name{
    height: 40px;
    width: 16%;
    text-align: center;
 }
