body {
    padding: 0px;
    margin-right: 5px;
}

.content {
    height: 100%;
    border-radius: 8px;
}

.playmusic {
    margin-bottom: 5px;
    height: 230px;
    background-color: #354c6d;
    border-radius: 10px;
}

.icon {
    width: 0.6em;
    height: 0.6em;
    stroke: currentColor;
    fill: currentColor;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-right {
    width: 100%;
}

.player {
    width: 100%;
    height: 100%px;
    display: inline-block;
}

.player__top {
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 4;
}

.player-cover {
    width: 200px;
    height: 200px;
    margin: 16px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
}

.player-cover__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
}

.player-cover__item:before {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    position: absolute;
    top: 15px;
    transform: scale(0.9);
    filter: blur(10px);
    opacity: 0.9;
    border-radius: 15px;
}

.player-cover__item:after {
    content: "";
    background: inherit;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    position: absolute;
    border-radius: 15px;
}

.player-cover__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    user-select: none;
    pointer-events: none;
}

.player-controls {
    flex: 1;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-controls__item {
    display: inline-flex;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.player-controls__item::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: #0c1f55;
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transition: all 0.4s cubic-bezier(0.35, 0.57, 0.13, 0.88);
}

@media screen and (min-width: 500px) {
    .player-controls__item:hover::before {
      opacity: 1;
      transform: scale(1.3);
    }
}
  
@media screen and (max-width: 576px), (max-height: 500px) {
    .player-controls__item:active::before {
      opacity: 1;
      transform: scale(1.3);
    }
}

.player-controls__item .icon {
    position: relative;
    z-index: 2;
}

.player-controls__item.-xl {
    margin-bottom: 0;
    font-size: 40px;
    filter: drop-shadow(0 11px 6px rgba(172, 184, 204, 0.45));
    color: #fff;
    width: auto;
    height: auto;
    display: inline-flex;
}

.player-controls__item.-heroicon {
    margin-bottom: 0;
    font-size: 50px;
    color: #fff;
    display: inline-flex;
}

.player-controls__item.-heroicon.-avt {
    font-size: 70px;
    width: 0.6em;
    height: 0.6em;
    stroke: currentColor;
    fill:rgb(40, 78, 109);
}

.player-controls__item.-heroicon.-avt::before {
    display: none;
}

.player-controls__item.-xl:before {
    display: none;
}
  
.player-controls__item.-favorite.active {
    color: red;
}

[v-cloak] {
    display: none;
}
  
[v-cloak] > * {
    display: none;
}

.music-top-bg {
    display: flex;
    justify-content: space-between;
}

.top-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item-top-right {
    display: flex;
    float: right;
    align-items: flex-start;
}

.center-controls {
    width: 100%;
    align-self: flex-end;
    padding: 10px;
}

.bottom-controls {
    display: flex;
    justify-content: space-between;
}

.item-bottom-left {
    display: flex;
}

.item-bottom-right {
    display: flex;
    float: right;
    align-items: flex-end;
}
  
.progress {
    width: 100%;
    padding: 10px;
}
  
.progress__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 10px;
    height: 130px;
}
  
.progress__duration {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.5;
    margin-left: 5px;
}
  
.progress__time {
    margin-right: 5px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: 0.7;
}

.time-play {
    display: flex;
    align-items: center;
    padding-right: 15px;
}
  
.progress__bar {
    height: 6px;
    width: 100%;
    cursor: pointer;
    background-color: #d0d8e6;
    display: inline-block;
    border-radius: 10px;
}
  
.progress__current {
    height: inherit;
    width: 0%;
    background-color: #030b17;
    border-radius: 10px;
}
  
.album-info {
    color: #71829e;
    flex: 1;
    user-select: none;
}
  
.album-info__name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3em;
}
  
.album-info__track {
    font-weight: 400;
    font-size: 20px;
    opacity: 0.7;
    line-height: 1.3em;
    min-height: 52px;
}
  
.scale-out-enter-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-out-leave-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-out-enter {
    transform: scale(0.55);
    pointer-events: none;
    opacity: 0;
}
  
.scale-out-leave-to {
    transform: scale(1.2);
    pointer-events: none;
    opacity: 0;
}
  
.scale-in-enter-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-in-leave-active {
    transition: all 0.35s ease-in-out;
}
  
.scale-in-enter {
    transform: scale(1.2);
    pointer-events: none;
    opacity: 0;
}
  
.scale-in-leave-to {
    transform: scale(0.55);
    pointer-events: none;
    opacity: 0;
}

.main-bottom {
    display: flex;
}

.bottom-left {
    width: 50%;
    height: 100%px;
    position:relative;
    background-color: #242848;
    border-top-left-radius: 10px;
}

.luotxem-danhgia {
    display: flex;
    justify-content: space-between;
}


.luotxem {
    padding: 8px;
    font-weight: bold;
    font-size: 17px;
}

.danhgia{
    padding: 8px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    font-size: 17px;
}

.rating {
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
    display: inline-flex;
}
  
.rating-0 {
    filter: grayscale(100%);
}
  
.rating > input {
    display: none;
}
  
.rating > label {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}
  
.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
  
.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}
  
.rating__input:hover ~ .rating__label,
.rating__input:hover ~ .rating__label--half{
    color: #ddd;
}

.thongtin {
    width: 100%;
    height: 450px;
    background-color: #0b003e;
    position: relative;
    padding-top: 5px;
}

.noidungmota {
    width: 100%;
    height: 70%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noidungmotabaihat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.xemthem {
    color: #000000;
    display: flex;
    align-items: center;
}

.comment {
    height: 69%;
    background-color: #182134;
    padding: 12px;
    position:relative;
    margin:0 auto;
}

.input-group-text {
    display: flex;
    height: 30px;
    white-space: nowrap;
}

.input-group-text input {
    font-size: 18px;
    border-radius: 12px;
    height: 30px;
    width: 450px;
    padding: 10px;
    margin: 6px;
}

.input-group-text span{
    margin-left: -43px;
}

.all-comment {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom-right {
    border-top-right-radius: 10px;
    width: 50%;
    height: 680px;
    background-color: #030627;
    position:relative;
}

.titlelist {
    display: flex;
    align-items: center;
    height: 36px;
}

/* .avt-song{
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
    background-color: #7386a3;
} */

.avt-song img{
    width: 65px;
    height: 65px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    border-radius: 15px;
    z-index: 1;
    background-color: #7386a3;
}

.list-song {
    width: 100%;
    height: 642px;
    padding: 2px;
    overflow-y: scroll;
}

.one-song {
    display: flex;
    background-color: #131942;
    height: 80px;
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}

.song-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.song-info {
    color: #71829e;
    flex: 1;
    user-select: none;
    padding: 15px;
}

.song-info__name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 1.3em;
}
  
.song-info__track {
    font-weight: 500;
    font-size: 16px;
    opacity: 0.7;
    line-height: 1.3em;
}